<!DOCTYPE html>
<html>
  <head>{{ partial "head.html" . }}</head>
  <body>
    {{ partial "header.html" . }}
    <div class="main">
      {{ block "main" . }}{{ end }}
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
