{{ define "main" }}
  {{ range where .Pages ".Params.Unlisted" "!=" true }}
  <article class="post">
    <a href="{{ .RelPermalink }}" class="nostyle">
      <h1>{{ .LinkTitle }}</h1>
      {{ .Date | time.Format "2006 Jan 02" }}
      <div class="summary">{{ .Summary }}</div>
      <p>Read more...</p>
    </a>
  </article>
  {{ end }}
{{ end }}
