:root {
  --purple-light: #9a00ff;
  --purple-dark: #1d0030;
  --green-light: #43ff00;
  --green-dark: #0c2c00;
  --blue-light: #00d3d0;
  --foreground: #dddddd;
  --background: #111111;
  --code-background: #0a0a0a;
  --block-edge-width: 8px;
}

html {
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

.main {
  flex: 1;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  padding: 0 2em 0 2em;
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

/* header */
header {
  background: var(--purple-dark);
  border: solid;
  border-width: 0 0 1px 0;
  border-color: var(--purple-light);
  padding: 2em;
}
header > div {
  display: flex;
  margin: 0 auto 0 auto;
  max-width: 1000px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  margin: 0;
}
header span.links svg {
  width: auto;
  height: 24px;
  margin: 4px;
}

/* footer */
footer {
  display: flex;
  padding: 1em;
  margin-top: 2em;
  background: var(--purple-dark);
  border: solid;
  border-width: 2px 0 0 0;
  border-color: var(--purple-light);
  justify-content: center;
}
footer a:link,
footer a:visited {
  padding: 0 2px 0 2px;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

/* links */
a:link,
a:visited {
  color: var(--green-light);
  font-weight: bold;
  text-decoration: underline;
}
a:link.nostyle,
a:visited.nostyle {
  background: inherit;
  color: inherit;
  border: none;
  font-weight: inherit;
  text-decoration: none;
}
li {
  margin-top: 1em;
}

/* quote blocks */
blockquote {
  font-style: italic;
  padding: 1em;
  border: solid;
  border-color: var(--foreground);
  border-width: 0 0 0 2px;
  border-radius: var(--block-edge-width);
}

/* SRC blocks */
div.src-bash span.line::before {
  content: "$ ";
}
.chroma {
  background-color: var(--code-background);
}
div.src {
  color: var(--foreground);
  background-color: var(--code-background);
  border-style: solid;
  border-color: var(--purple-light);
  border-top-left-radius: var(--block-edge-width);
  border-top-right-radius: var(--block-edge-width);
  border-width: 0 0 0 var(--block-edge-width);
  height: fit-content;
  overflow-x: auto;
  scrollbar-width: thin;
}
/* Only curve bottom edge if it doesn't have an attached example */
div.src:has(+ :not(pre.example)) {
  border-bottom-left-radius: var(--block-edge-width);
  border-bottom-right-radius: var(--block-edge-width);
  margin-bottom: 2em;
}
/* HACK: For some reason the last one in the page isn't appling the
   above */
div.src:last-child {
  border-bottom-left-radius: var(--block-edge-width);
  border-bottom-right-radius: var(--block-edge-width);
}

div.src span.line {
  display: block;
  width: 0;
}
div.src + pre.example {
  margin-top: 0px;
  border-width: 0 0 0 var(--block-edge-width);
  border-radius: 0 0 var(--block-edge-width) var(--block-edge-width);
}
div.src pre {
  font-size: 1.2em;
  margin: 0;
  padding: 1em;
}
pre.example {
  padding: 1em;
  box-sizing: border-box;
  white-space: pre-wrap;
  overflow: auto;
  border-style: solid;
  border-color: #444;
  border-width: 0 0 0 var(--block-edge-width);
  border-radius: var(--block-edge-width);
}

/* inline */
:not(pre) > code {
  font-weight: bold;
  font-size: 1.2em;
  word-break: keep-all;
}
:not(pre) > code:not(.verbatim) {
  vertical-align: middle;
  background-color: var(--code-background);
  color: var(--blue-light);
}

/* inline */
:not(pre) > code.verbatim {
  color: var(--purple-light);
}

/* NOTE blocks */
div.comment-block {
  margin: 2em 0 0 0;
  padding-top: 1em;
  border-style: solid;
  border-color: var(--green-light);
  border-width: 0 0 0 var(--block-edge-width);
  border-radius: var(--block-edge-width);
}
div.comment-block::before {
  padding: 1em;
  content: "NOTE";
  font-weight: bold;
  color: var(--green-light);
}
div.comment-block p {
  margin-top: 0px;
  padding: 1em;
}

.post {
  font-size: 0.8em;
  padding: 2em;
  margin: 2em 0 0 0;
  background: #222222;
  border-color: #444444;
  border-radius: 1em;
}
.post h1 {
  margin: 0;
  font-size: 2em;
}
.summary {
  margin-top: 2em;
}
.post + .summary {
  margin-top: 0px;
  border-radius: 0 0 4px 4px;
}

div.wasm {
  width: 1000px;
}

/* Fix WASM canvas resizing */
div.wasm > canvas {
  width: 100% !important;
  height: 100% !important;
}
