<footer>
  <a href="https://craftering.systemcrafters.net/@purplg/previous">←</a>
  <a href="https://craftering.systemcrafters.net/">craftering</a>
  <a href="https://craftering.systemcrafters.net/@purplg/next">→</a>
</footer>
