<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

<style>
{{ with resources.Get "syntax.css" }}{{ .Content | safeCSS }}{{ end }}
{{ with resources.Get "main.css" }}{{ .Content | safeCSS }}{{ end }}
</style>

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
