<header>
  <div>
    <h1><a href="/" class="nostyle">{{ .Site.Title }}</a></h1>
    <span class="links">
      <a rel="me" href="https://fosstodon.org/@purplg" class="nostyle">{{ readFile "assets/mastodon.svg" | safeHTML }}</a>
      <a href="https://github.com/purplg/" class="nostyle">{{ readFile "assets/github.svg" | safeHTML }}</a>
      <a href="https://codeberg.org/purplg/" class="nostyle">{{ readFile "assets/codeberg.svg" | safeHTML }}</a>
      <a href="{{ .Permalink }}index.xml" class="nostyle">{{ readFile "assets/rss.svg" | safeHTML }}</a>
    </span>
  </div>
</header>
