<script type="module">
  import './restart-audio-context.js'
  import init from './{{ . }}.js'

  init().catch((error) => {
    if (!error.message.startsWith("Using exceptions for control flow, don't mind me. This isn't actually an error!")) {
      throw error;
    }
  });
</script>

<div class="wasm">
  <canvas id="wasm-canvas"></canvas>
</div>
