{{ define "main" }}

  <p style="padding-top: 16px">
    Software is fun. Mainly working on various Emacs packages, my config, or other random projects.
  </p>

  <h2>Projects</h2>
  {{ with .Site.GetPage "projects" }}
    {{ .Content }}
    {{ range .Pages }}
      <p>
        {{ if .Params.External }}
            <a href="{{ .Params.External }}">{{ .LinkTitle }}</a>
        {{ else }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{ end }}
        {{ .Summary }}
      </p>
    {{ end }}

  {{ end }}

  {{ with .Site.GetPage "posts" }}
    <h2><a href="{{ .RelPermalink }}" class="nostyle">{{ .LinkTitle }}</a></h2>

    {{ range where .Pages ".Params.Unlisted" "!=" true }}
      <article class="post">
        <a href="{{ .RelPermalink }}" class="nostyle">
          <h1>{{ .LinkTitle }}</h1>
          {{ .Date | time.Format "2006 Jan 02" }}
          <div class="summary">{{ .Summary }}</div>
          <p>Read more...</p>
        </a>
      </article>
    {{ end }}

  {{ end }}

  {{ with .Site.GetPage "lug" }}
    <h2><a href="{{ .RelPermalink }}" class="nostyle">{{ .LinkTitle }}</a></h2>
    {{ .Content }}
    {{ range .Pages }}
      <article class="post">
        <a href="{{ .RelPermalink }}" class="nostyle">
          <h1>{{ .LinkTitle }}</h1>
          {{ .Date | time.Format "2006 Jan 02" }}
          <div class="summary">{{ .Summary }}</div>
          <p>Read more...</p>
        </a>
      </article>
    {{ end }}

  {{ end }}

{{ end }}
